.site{
    .hd{
        background: $bgTitle;
    }
    .hd-h3{
        height: 34px;
        padding-left: 20px;
        line-height: 34px;
        font-weight: 500;
        color: $colorTip;
    }
    .bd{
        padding: 10px 14px 10px 34px;
        li{
            float: left;
            width: 110px;
            line-height: 32px;
        }
    }
    /*详细内容*/
    .c-all{
        line-height: 30px;
        text-align: center;
    }
    .group{
        padding: 12px 20px;
        border-top: 1px solid $borderColorGroup;
        span{
            padding: 0 12px;
        }
        .more{
            padding: 0;
            float: right;
            font-family: simsun;
        }
    }
    .first-group{
        border: 0;
    }
}